*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgb(43, 43, 43);
    padding: 16px 0;
    color: #ffff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 32px;
}

header li a {
    color: #ffff;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding:16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color:#009432;
    color:#fff;
}

#economy {
    background-color: lightgoldenrodyellow;
}

#economy .articles article a{
    background-color: goldenrod;
    color: #fff;
}

#enterteinment {
    background-color: rgba(255, 0, 100, 0.1);
}

#enterteinment .articles article a{
    background-color: rgb(183, 30, 73);
    color:#fff;
}

#technology {
    background-color: rgba(0, 150, 255, 0.2);
}

#technology .articles article a{
    background-color: darkblue;
    color:#fff;
}